.DiaryEditor{
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,
textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea{
  height: 150px;
}

.DiaryEditor select{
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

.saveButton{
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

h2{
  text-align: center;
}

.DiaryList{
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryList button{
  margin-top: 10px;
}